# URL base para a API de Autenticação (Arthemis Auth)
# Responsável pelo gerenciamento de credenciais, registro e geração de tokens JWT.
ARTHEMIS_AUTH_URL=http://localhost/servicename

# URL base para a API de Negócio (Arthemis Brain)
# Responsável pelo cadastro de proponentes, projetos e dados de perfil de usuários.
ARTHEMIS_BRAIN_URL=http://localhost/servicename
